<header class="topbar" data-navbarbg="skin5">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
    <div class="navbar-header" data-logobg="skin5">
      <span class="navbar-brand">
        <b class="logo-icon">
          <img
            src="../../assets/images/logo-icon.png"
            alt="homepage"
            class="dark-logo"
            height="40px"
          />
          <img
            src="../../assets/images/logo-light-icon.png"
            alt="homepage"
            class="light-logo"
            height="40px"
          />
        </b>
      </span>
      <a
        class="nav-toggler waves-effect waves-light d-block d-md-none"
        href="javascript:void(0)"
      >
        <i class="ti-menu ti-close"></i>
      </a>
    </div>
    <div
      class="navbar-collapse collapse"
      id="navbarSupportedContent"
      data-navbarbg="skin5"
    >
      <ul class="navbar-nav float-left mr-auto"></ul>
      <ul class="navbar-nav float-right">
        <li class="nav-item dropdown">
          <div
            class="
              nav-link
              dropdown-toggle
              text-muted
              waves-effect waves-dark
              pro-pic
            "
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="../../assets/images/users/1.jpg"
              alt="user"
              class="rounded-circle"
              width="31"
            />
          </div>
          <div class="dropdown-menu dropdown-menu-right user-dd animated">
            <button class="dropdown-item" onClick="{CikisYap}">
              <i class="ti-user m-r-5 m-l-5"></i>
              Çıkış Yap
            </button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
