<section id="contact" class="contact ">
    <div class="section-header"><h2>İletişim</h2></div>
    <div class="map pt-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.030414851486!2d29.21288105596123!3d40.89314771142226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac4a72e229879%3A0x259cd068bcbdc7f2!2sYunus%2C%20Cami%20Sk.%20No%3A19%2C%2034873%20Kartal%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1622218435016!5m2!1str!2str"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
      <div class="map-detail d-none">
        <ul>
          <li>Havalimanına 3Km</li>
          <li>Metroya 50mt</li>
          <li>Hastaneye 500mt</li>
          <li>AVM ye 300mt</li>
          <li>Çarşıya 500mt</li>
        </ul>
      </div>
    </div>

    <div class="row g-3 mt-5">
      <div class="col-12">
        Coşkun Tente Pergola Sanayi Tic. Ltd. Şti.
      </div>
      <div class="col-12">
        <i class="fas fa-map-marker-alt"></i> Topselvi Mh. Cami Sk. Reyhan Apt. No:19/A Kartal/İstanbul
      </div>

      <div class="col-sm-12">
        <i class="fas fa-mobile-alt"></i>
        <a href="tel:+905326784791">+90 (532) 678 47 91</a>
      </div>

      <div class="col-12">
        <i class="fas fa-anchor"></i>
        <a href="https://coskun-pergola.com" target="_blank"
          >coskun-pergola.com</a
        >
      </div>
      <div class="col-12 pt-3">
        <div class="social-media">
          <a
            href=""
            target="_blank"
          >
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href=""
            target="_blank"
          >
            <i class="fab fa-youtube"></i>
          </a>
          <a href="" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>

  </section>