<div class="tab-pane fade show active" id="pills-pergola-plan" role="tabpanel">
  <div class="row g-3">
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <div>
          <img
            src="../img\gallery/bioclimatic-pergola/bioclimatic-pergola-21622480868.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h3>1.PERGOLA</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">1.PERGOLA</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#pergola2">
        <div>
          <img
            src="../img\gallery/bioclimatic-pergola/bioclimatic-pergola-21622480868.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h3>2.PERGOLA</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="pergola2"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">deneme 2.pergola</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#pergola3">
        <div>
          <img
            src="../img\gallery/bioclimatic-pergola/bioclimatic-pergola-21622480868.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h3>3.PERGOLA</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="pergola3"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">Pergola 3.örnek</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
