<div class="tab-pane fade" id="pills-zip-plan" role="tabpanel">
  <div class="row g-3">
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <img
          src="../img\gallery/bioclimatic-pergola/bioclimatic-pergola-21622480868.jpg"
          alt="Rolling Roof"
          class="img-thumbnail"
        />
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga ipsa ea deserunt ullam, possimus cupiditate ducimus
                    quod aspernatur dolorum! Illo eveniet ullam modi aliquid,
                    amet similique corporis reprehenderit voluptas delectus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Velit quo impedit earum perspiciatis architecto rerum in
                    inventore saepe ipsam ab, aperiam laborum odio modi illo!
                    Nisi minus voluptatum nostrum eum.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <img
          src="../img\gallery/bioclimatic-pergola/bioclimatic-pergola-21622480868.jpg"
          alt="Rolling Roof"
          class="img-thumbnail"
        />
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga ipsa ea deserunt ullam, possimus cupiditate ducimus
                    quod aspernatur dolorum! Illo eveniet ullam modi aliquid,
                    amet similique corporis reprehenderit voluptas delectus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Velit quo impedit earum perspiciatis architecto rerum in
                    inventore saepe ipsam ab, aperiam laborum odio modi illo!
                    Nisi minus voluptatum nostrum eum.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
